.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  min-width: 400px;
  min-height: 7vh;
  width: 100vw;
}

.header .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 600px;
  min-height: 6vh;
  width: 32vw;
  height: 90%;
  margin: 1rem;

  background-color: var(--mocha-mantle);
  border-bottom: solid 2px var(--mocha-text);
}

.header .nav a {
  width: 100%;
}

.header .nav a .logo {
  width: 100%;
  height: 11rem;
}

.header .nav .navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 3rem;
}

.header .nav .navLinks .links {
  cursor: pointer;
  list-style: none;
  text-decoration: none;

  padding: 0.5rem 0;
  font-size: 1.2rem;
}
