.header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  gap: 1vw;
  min-height: 7vh;
  margin-right: 20px;

  background-color: var(--mocha-mantle);
}

.header .link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  height: 60%;
  padding: 0.5vw;
  border-radius: 5px;
  font-size: 20px;

  background-color: var(--mocha-base);
  border: solid 2px var(--mocha-overlay0);
}

.header .link:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  height: 60%;
  padding: 0.5vw;
  border-radius: 5px;

  color: var(--mocha-crust);
  background-color: var(--mocha-blue);
  border: solid 2px var(--mocha-overlay0);
}
